<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

    <div th:fragment="header-lang" class="container mt-4">
        <div class="columns">
            <div class="column col-12 flex-space-between flex-align-baseline">
                <a href="" class="brand">
                    <span th:text="#{label.brand}"></span>
                    <small th:text="#{label.title}"></small>
                </a>
                <div class="btn-group">
                    <a class="btn btn-sm"
                       th:text="#{label.lang.en}"
                       th:href="@{?lang=en}"
                       th:classappend="${param.lang == null or param.lang[0] != 'da'} ? 'active' : ''"></a>
                    <a class="btn btn-sm"
                       th:text="#{label.lang.da}"
                       th:href="@{?lang=da}"
                       th:classappend="${param.lang != null and param.lang[0] == 'da'} ? 'active' : ''"></a>
                </div>
            </div>
        </div> <!-- END columns -->
    </div> <!-- END container fragment="header-lang"  -->

</body>
</html>