<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title th:text="#{label.applications.title} + ' | ' + #{label.brand} + ' ' + #{label.title}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <style type="text/css">
        body {
            opacity: 0;
            transition: opacity .25s ease;
        }
    </style>
</head>
<body>

    <div class="page">
        <!-- off-screen toggle button -->
        <a class="page-toggle" href="#sidebar-show">
            <span class="icon-wrapper">
                <span class="icon-menu"></span>
            </span>
        </a>

        <!-- Sidebar -->
        <div id="sidebar-show" class="page-sidebar sidebar bg-brand-admin">
            <div th:replace="fragments/sidebar :: header"/>

            <div class="sidebar-section mb-4">
                <ul class="menu">
                    <li class="menu-item mb-4 mt-2">
                        <figure th:replace="fragments/sidebar :: avatar"/>
                    </li>
                    <li class="menu-item">
                        <a class="active"
                            th:href="@{/admin/applications}">
                            <span th:replace="fragments/icon :: applications"/>
                            <span class="menu-text"
                                th:text="#{label.button.applications}"></span>
                        </a>
                    </li>
                </ul>
            </div>

            <div th:replace="fragments/sidebar :: footer"/>
        </div> <!-- END sidebar -->

        <a class="page-overlay" href="#sidebar-hide"></a>

        <div class="page-content-wrapper">
            <!-- Content -->
            <div class="container">
                <header>
                    <h1 class="flex-space-between">
                        <span th:text="#{label.applications.titleNew}"></span>
                        <span>
                            <a class="btn" id="applications-update" th:title="#{label.courses.sync}">
                                <span th:replace="fragments/icon :: sync"></span>
                            </a>
                        </span>
                    </h1>
                </header>

                <div class="columns">
                    <div class="column">
                        <table class="table table-striped" id="courses-table">
                            <thead>
                                <tr>
                                    <th th:text="#{label.courses.nameDA}"></th>
                                    <th th:text="#{label.courses.nameEN}"></th>
                                    <th th:text="#{label.courses.enrolledNumber}"></th>
                                    <th th:text="#{label.auth.firstName}"></th>
                                    <th th:text="#{label.auth.lastName}"></th>
                                    <th th:text="#{label.auth.email}"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="courses-table-body"></tbody>
                        </table>
                    </div>
                </div>

            </div> <!-- END comtainer -->
        </div>
    </div>

    <script th:inline="javascript">
    /*<![CDATA[*/
        document.addEventListener("DOMContentLoaded", function(event) {
  
            var resourceURL = '/api/applications';
            var updateBTN = document.getElementById("applications-update");
            var applicationsTABLE = document.getElementById("courses-table-body");

            function clearNode(node) {
                while(node.firstChild) {
                    node.removeChild(node.firstChild);
                }
            }

            function renderTable(tableBody, rows) {
                clearNode(tableBody);
                rows.forEach(row => {
                    let actions = "<button data-acceptid='" + row.id + "'' id='accept-application-" + row.id + "'" +
                            "class='btn btn-sm btn-primary mr-1'>" +
                            /*[[#{label.applications.accept}]]*/"Accept"
                         + "</button>" +
                        "<button data-rejectid='" + row.id + "'' id='reject-application-" + row.id + "'" +
                            "class='btn btn-sm btn-error'>" +
                            /*[[#{label.applications.reject}]]*/"Reject"
                         + "</button>";

                    if (!row.active) {
                        actions = /*[[#{label.applications.actionTaken}]]*/"Action taken";
                    }

                    let tableRow = "" +
                        "<tr>" +
                            "<td>" +
                                row.course.nameDA +
                            "</td>" +
                            "<td>" +
                                row.course.nameEN +
                            "</td>" +
                            "<td>" +
                                row.course.students.length +
                            "</td>" +

                            "<td>" +
                                row.student.firstName +
                            "</td>" +
                            "<td>" +
                                row.student.lastName +
                            "</td>" +
                            "<td>" +
                                row.student.email +
                            "</td>" +
                            "<td>" +
                                actions +
                            "</td>" +
                        "</tr>";

                    tableBody.insertAdjacentHTML("beforeend", tableRow)
                });
                updateBTN.classList.remove("loading");
            }

         

            function sync() {
                updateBTN.classList.add("loading");
                var xhr = new XMLHttpRequest();
                xhr.open('GET', resourceURL);
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        renderTable(applicationsTABLE, JSON.parse(xhr.responseText));
                    } else {
                        console.warn('Request failed.  Returned status of ' + xhr.status);
                    }
                };
                xhr.send();
            }

            updateBTN.addEventListener('click', sync);
            sync();

            // ACCEPT or REJECT application
            function acceptApplication(applicationID) {
                console.info("ACCEPT application:", applicationID);
                var applyBTN = document.getElementById("accept-application-" + applicationID);
                applyBTN.classList.add("loading");

                var xhr = new XMLHttpRequest();
                xhr.open('POST', resourceURL + "/accept/" + applicationID);
                xhr.setRequestHeader(
                    /*[[${_csrf.headerName}]]*/"X-CSRF-TOKEN",
                    /*[[${_csrf.token}]]*/""
                );

                xhr.onload = function() {
                    if (xhr.status === 200) {
                        console.log("Application ACCEPTED! SYNC");
                        applyBTN.classList.remove("loading");
                        sync();
                    } else {
                        console.warn('Request failed. Returned status of ' + xhr.status, xhr.responseText);
                    }
                };
                xhr.send();
            }

            function rejectApplication(applicationID) {
                console.info("REJECT application:", applicationID);
                var rejectBTN = document.getElementById("reject-application-" + applicationID);
                rejectBTN.classList.add("loading");

                var xhr = new XMLHttpRequest();
                xhr.open('POST', resourceURL + "/reject/" + applicationID);
                xhr.setRequestHeader(
                    /*[[${_csrf.headerName}]]*/"X-CSRF-TOKEN",
                    /*[[${_csrf.token}]]*/""
                );

                xhr.onload = function() {
                    if (xhr.status === 200) {
                        console.log("Application REJECTED! SYNC");
                        rejectBTN.classList.remove("loading");
                        sync();
                    } else {
                        console.warn('Request failed. Returned status of ' + xhr.status, xhr.responseText);
                    }
                };
                xhr.send();
            }

            applicationsTABLE.addEventListener('click', function(event) {
                if (event.target.tagName.toLowerCase() === 'button') {
                    if (event.target.dataset.acceptid != null) {
                        acceptApplication(event.target.dataset.acceptid)
                    } else if (event.target.dataset.rejectid != null) {
                        rejectApplication(event.target.dataset.rejectid)
                    }
                }
            });
        });
    /*]]>*/
    </script>
</body>
</html>