<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title th:text="#{label.courses.title} + ' | ' + #{label.brand} + ' ' + #{label.title}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <style type="text/css">
        body {
            opacity: 0;
            transition: opacity .25s ease;
        }
    </style>
</head>
<body>

    <div class="page">
        <!-- off-screen toggle button -->
        <a class="page-toggle" href="#sidebar-show">
            <span class="icon-wrapper">
                <span class="icon-menu"></span>
            </span>
        </a>

        <!-- Sidebar -->
        <div id="sidebar-show" class="page-sidebar sidebar bg-brand-teacher">
            <div th:replace="fragments/sidebar :: header"/>

            <div class="sidebar-section mb-4">
                <ul class="menu">
                    <li class="menu-item mb-4 mt-2">
                        <figure th:replace="fragments/sidebar :: avatar"/>
                    </li>
                    <li class="menu-item">
                        <a class="active"
                            th:href="@{/teacher/courses}">
                            <span th:replace="fragments/icon :: courses"/>
                            <span class="menu-text"
                                th:text="#{label.button.courses}"></span>
                        </a>
                    </li>
                </ul>
            </div>

            <div th:replace="fragments/sidebar :: footer"/>
        </div> <!-- END sidebar -->

        <a class="page-overlay" href="#sidebar-hide"></a>

        <div class="page-content-wrapper">
            <!-- Content -->
            <div class="container">
                <header>
                    <h1 class="flex-space-between">
                        <span th:text="#{label.courses.title}"></span>
                        <span>
                            <a class="btn btn-primary" th:text="#{label.courses.new}"></a>
                            <a class="btn" id="courses-update" th:title="#{label.courses.sync}">
                                <span th:replace="fragments/icon :: sync"></span>
                            </a>
                        </span>
                    </h1>
                </header>

                <div class="columns">
                    <div class="column">
                        <table class="table table-striped" id="courses-table">
                            <thead>
                                <tr>
                                    <th th:text="#{label.courses.nameDA}"></th>
                                    <th th:text="#{label.courses.nameEN}"></th>
                                    <th th:text="#{label.courses.ECTS}"></th>
                                    <th th:text="#{label.courses.language}"></th>
                                    <th th:text="#{label.courses.minStudents}"></th>
                                    <th th:text="#{label.courses.expStudents}"></th>
                                    <th th:text="#{label.courses.maxStudents}"></th>
                                </tr>
                            </thead>
                            <tbody id="courses-table-body"></tbody>
                        </table>
                    </div>
                </div>

            </div> <!-- END comtainer -->
        </div>
    </div>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
  
            var resourceURL = '/api/courses';
            var updateBTN = document.getElementById("courses-update");
            var coursesTABLE = document.getElementById("courses-table-body");

            function clearNode(node) {
                while(node.firstChild) {
                    node.removeChild(node.firstChild);
                }
            }
            function renderTable(tableBody, rows) {
                clearNode(tableBody);
                rows.forEach(row => {
                    let tableRow = `
                        <tr>
                            <td>
                                ${row.nameDA}
                            </td>
                            <td>
                                ${row.nameEN}
                            </td>
                            <td>
                                ${row.ectsPoints}
                            </td>

                            <td>
                                ${row.language}
                            </td>
                            <td>
                                ${row.minStudents}
                            </td>
                            <td>
                                ${row.expStudents}
                            </td>
                            <td>
                                ${row.maxStudents}
                            </td>
                        </tr>
                    `;

                    tableBody.insertAdjacentHTML("beforeend", tableRow)
                });
                updateBTN.classList.remove("loading");
            }

            function sync() {
                updateBTN.classList.add("loading");
                var xhr = new XMLHttpRequest();
                xhr.open('GET', resourceURL);
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        renderTable(coursesTABLE, JSON.parse(xhr.responseText));
                    } else {
                        console.warn('Request failed.  Returned status of ' + xhr.status);
                    }
                };
                xhr.send();
            }

            updateBTN.addEventListener('click', sync);
            sync();
        });
    </script>
</body>
</html>