<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title th:text="#{label.auth.signIn} + ' | ' + #{label.brand} + ' ' + #{label.title}"></title>
    <div th:replace="fragments/header :: header-css"/>
    <style type="text/css">
        body {
            opacity: 0;
            transition: opacity .25s ease;
        }
    </style>
</head>
<body>


edit course


</body>
</html>