<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title th:text="#{label.courses.title} + ' | ' + #{label.brand} + ' ' + #{label.title}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <style type="text/css">
        body {
            opacity: 0;
            transition: opacity .25s ease;
        }
    </style>
</head>
<body>

    <div class="page">
        <!-- off-screen toggle button -->
        <a class="page-toggle" href="#sidebar-show">
            <span class="icon-wrapper">
                <span class="icon-menu"></span>
            </span>
        </a>

        <!-- Sidebar -->
        <div id="sidebar-show" class="page-sidebar sidebar bg-brand-teacher">
            <div th:replace="fragments/sidebar :: header"/>

            <div class="sidebar-section mb-4">
                <ul class="menu">
                    <li class="menu-item mb-4 mt-2">
                        <figure th:replace="fragments/sidebar :: avatar"/>
                    </li>
                    <li class="menu-item">
                        <a class="active"
                            th:href="@{/teacher/courses}">
                            <span th:replace="fragments/icon :: courses"/>
                            <span class="menu-text"
                                th:text="#{label.button.courses}"></span>
                        </a>
                    </li>
                </ul>
            </div>

            <div th:replace="fragments/sidebar :: footer"/>
        </div> <!-- END sidebar -->

        <a class="page-overlay" href="#sidebar-hide"></a>

        <div class="page-content-wrapper">
            <!-- Content -->
            <div class="container">
                <header>
                    <h1 class="flex-space-between">
                        <span th:text="#{label.courses.title}"></span>
                        <a class="btn" th:text="#{label.courses.new}"></a>
                    </h1>
                </header>


            </div> <!-- END comtainer -->
        </div>
    </div>

</body>
</html>