<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title th:text="#{label.auth.signIn} + ' | ' + #{label.brand} + ' ' + #{label.title}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <style type="text/css">
        body {
            opacity: 0;
            transition: opacity .25s ease;
        }
    </style>
</head>
<body>

    <div th:replace="fragments/header :: header-lang"/>

    <!-- Content -->
    <div class="container mb-4">
        <div class="column col-4 col-sm-10 col-lg-8 col-mx-auto" style="margin-top: 25vh;">
            <h1 class="text-center"
                th:text="#{label.auth.signInHeader}"></h1>
            <form th:action="@{/sign-in.html}" method="POST">
                <div class="form-group">
                    <label class="form-label" for="input-email"
                        th:text="#{label.auth.email}"></label>
                    <input class="form-input" type="text" id="input-email"
                        th:placeholder="#{label.auth.email}"
                        name="username"/>
                </div>
                <div class="form-group has-error">
                    <label class="form-label" for="input-password"
                        th:text="#{label.auth.password}"></label>
                    <input class="form-input" type="password" id="input-password"
                        th:placeholder="#{label.auth.password}"
                        name="password"/>

                    <!-- Validation -->
                    <p class="form-input-hint"
                        th:if="${param.error != null}"
                        th:text="#{error.auth.invalidCredentials}"></p>
                </div>

                <div class="flex-space-between mt-4">
                    <span>
                        <span class="text-gray hide-sm mr-2"
                            th:text="#{label.auth.signUpRedirect}">
                        </span>
                        <a class="btn btn-link" 
                            th:href="@{/sign-up.html}"
                            th:text="#{label.auth.signUp}"></a>
                    </span>
                    <button class="btn btn-primary" type="submit"
                        th:text="#{label.auth.signIn}"></button>
                </div>
            </form>
        </div> <!-- END column col-6 col-sm-10 col-lg-8 col-mx-auto -->
    </div> <!-- END container -->

</body>
</html>