<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header-sign-up"/>


<div class="container grid-lg">
    <div class="columns">

        <div class="col-4 col-mx-auto">

            <form th:action="@{/sign-up.html}" th:object="${user}" method="POST">
                <!-- firstName -->
                <div class="form-group">
                    <label class="form-label" for="input-first-name">First name</label>
                    <input class="form-input" type="text" id="input-first-name"
                           placeholder="..."
                           th:field="*{firstName}"/>

                    <p class="form-input-hint"
                        th:each="error: ${#fields.errors('firstName')}"
                        th:text="${error}">Validation error</p>
                </div>

                <!-- lastName -->
                <div class="form-group">
                    <label class="form-label" for="input-last-name">Last name</label>
                    <input class="form-input" type="text" id="input-last-name"
                           placeholder="..."
                           th:field="*{lastName}"/>

                    <p class="form-input-hint"
                       th:each="error: ${#fields.errors('lastName')}"
                       th:text="${error}">Validation error</p>
                </div>


                <!-- email -->
                <div class="form-group">
                    <label class="form-label" for="input-email">Email</label>
                    <input class="form-input" type="text" id="input-email"
                           placeholder="..."
                           th:field="*{email}"/>

                    <p class="form-input-hint"
                       th:each="error: ${#fields.errors('email')}"
                       th:text="${error}">Validation error</p>
                </div>

                <!-- password -->
                <div class="form-group">
                    <label class="form-label" for="input-password">Password</label>
                    <input class="form-input" type="password" id="input-password"
                           placeholder="..."
                           th:field="*{password}"/>

                    <p class="form-input-hint"
                       th:each="error: ${#fields.errors('password')}"
                       th:text="${error}">Validation error</p>
                </div>

                <!-- password -->
                <div class="form-group">
                    <label class="form-label" for="input-matching-password">Confirm Password</label>
                    <input class="form-input" type="password" id="input-matching-password"
                           placeholder="..."
                           th:field="*{matchingPassword}"/>

                    <p class="form-input-hint"
                       th:each="error: ${#fields.globalErrors()}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit" th:text="#{label.auth.signUp}"></button>
                </div>

            </form>

        </div>
    </div>


</div>

<div th:replace="fragments/footer :: footer-lang"/>
gi
</body>
</html>