<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title th:text="#{label.auth.signIn} + ' | ' + #{label.brand} + ' ' + #{label.title}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <style type="text/css">
        body {
            opacity: 0;
            transition: opacity .25s ease;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="col-4 col-sm-10 col-lg-8 col-mx-auto" style="margin-top: 25vh;">
            <h1 class="text-center">STUDENT PLACEHOLDER</h1>
        </div>
    </div> <!-- END container -->

</body>
</html>